.slick-slide {
    padding: 0 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-slide img {
    height: 300px;
    width: 400px;
}

.slider-maindiv {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slick-track,
.slick-list,
.slick-slider,
.slider-container {
    height: 100%;
}

@media screen and (min-width: 340px) and (max-width: 768px) {

    .slick-slide img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}